= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "Błąd")} uniemożliwia zapisanie postu"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :Fakt
    = f.text_area :body
  .field
    = f.label :Odpowiedź
    = f.check_box :answer
  .field
    = f.label :Komentarz
    = f.text_area :comment
  .field
    = f.label :"Link do źródła"
    = f.url_field :link
  .actions
    = f.submit 'Dodaj post'
