= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :body
    = f.text_area :body
  .field
    = f.label :answer
    = f.check_box :answer
  .field
    = f.label :comment
    = f.text_area :comment
  .field
    = f.label :link
    = f.text_area :link
  .field
    = f.label :rate
    = f.text_field :rate
  .field
    = f.label :count_favourite
    = f.number_field :count_favourite
  .actions
    = f.submit 'Save'
