- @posts.each do |post|
  %p= link_to post.body, post_path(post),  id: "body_text"
  %td
  %div{:class => "btn-group", :role => "group"}
    - if user_signed_in?
      - if post.user_answers.find_by(user_id: current_user).present? and  
        -if post.user_answers.find_by(user_id: current_user.id).answer == post.answer
          %h3= "Gratuluję, prawidłowa odpowiedź"
        - else
          %h3= "Niestety, to nie jest prawidłowa odpowiedź"
      - else    
        = link_to "Prawda", true_answer_path(post), :type => "button", :class => "btn btn-default", :style => "background: #57D123; color: black"
        = link_to "Fałsz", false_answer_path(post), :type => "button", :class => "btn btn-default", :style => "background: #D02121; color: black"
    - else
      %h3= "Zaloguj się, aby odpowiedać" 
  %hr{:class => "standard-hr"}
