= javascript_include_tag 'application.js'

%div{:class => "center jumbotron homepage standard"} 
  - @posts.each do |post|
    %h3= post.body
    %div{:class => "btn-group", :role => "group"}
    %div{:class => "btn-group", :role => "group"}
      %button{:type =>"button", :class => "btn btn-default", :data => {:toggle => "collapse"}, :href => "##{post.id}", :style => "background: #57D123; color: black"} Prawda
      %button{:type =>"button", :class => "btn btn-default", :data => {:toggle => "collapse"}, :href => "#-#{post.id}", :style => "background: #D02121; color: black"} Fałsz
      %div{:id => post.id, :class => "collapse"} 
        - if post.answer == true
          = "Prawidłowa odpowiedź!"
        - else
          = "Zła odpowiedź!"
        = post.link
      %div{:id => post.id, :class => "collapse"} 
        = post.link
      :javascript
        $('.collapse').collapse("hide")
    /  %button{:type =>"button", :class => "btn btn-default", :data => {:toggle => "collapse"}, :href => "#collapseOne", :aria => {:expanded => "false"}, :aria => {:controls => "collapseOne"}, :style => "background: #57D123; color: black"} Prawda
    /  %div{:id => "collapseOne", :class => "panel-collapse collapse in", :role => "tabpanel", :aria => {:labelledby => "headingOne"}}
    /    %div{:class => "panel-body"}
    /      To jest tekst do wyswietlenia
    /  %button{:type =>"button", :class => "btn btn-default", :data => {:toggle => "collapse"}, :data => {:target => "#collapseExample"}, :aria => {:expanded => "false"}, :aria => {:controls => "collapseExample"}, :style => "background: #D02121; color: black"} Fałsz
    /  %div{:class => "collapse", :id => "collapseExample"}
    /    %div{:class => "well"}
    /      Tu jest jakiś tekst
    =  link_to 'Show', post  
    = link_to 'Edit', edit_post_path(post)
    = link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }
    %hr{:class => "standard-hr"}
  = link_to 'New Post', new_post_path

/%div{:class => "btn-group", :role => "group"}
/%button{:type =>"button", :class => "btn btn-default", :data => {:toggle => "collapse"}, :href => "#collapseOne", :style => "background: #57D123; color: black"} Prawda
/%div{:id => "collapseOne", :class => "collapse.in", :role => "tabpanel", :aria => {:labelledby => "headingOne"}}
/%div{:class => "panel-body"}
/To jest tekst do wyswietlenia
/%button{:type =>"button", :class => "btn btn-default", :data => {:toggle => "collapse"}, :data => {:target => "#collapseExample"}, :aria => {:expanded => "false"}, :aria => {:controls => "collapseExample"}, :style => "background: #D02121; color: black"} Fałsz
/%div{:class => "collapse", :id => "collapseExample"}
/%div{:class => "panel-body"}
/Tu jest jakiś tekst

/%div{:class => "btn-group", :role => "group"}
/  %button{:type =>"button", :class => "btn btn-default", :style => "background: #D02121; color: black"} Fałsz


/%button{:type =>"button", :class => "btn btn-default", :data => {:target => "#demo"}, :style => "background: #57D123; color: black"} Prawda
     
/%div{:id => "demo", :class => "collapse"} tekst

/%button{:data => {:toggle => "collapse"}, :href => "#demo"} proba

/%div{:id => "demo", :class => "collapse"} Loremy sremy

