!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Prawda czy fałsz
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  %body
    %header{:class => "header_position navbar navbar-fixed-top navbar-inverse "}
      %div{:class => "container"}
        = link_to "Prawda czy fałsz", root_path, id: "logo"
        %nav
          %ul{:class => "nav navbar-nav"}
            %li 
              = link_to "Wybierz kategorię", "#", id: "nav-link"
            %li  
              = link_to "Losuj", random_post_path, id: "nav-link"
            %li  
              = link_to "Ranking", "#", id: "nav-link"
            %li
              = link_to "Dodaj", new_post_path, id: "nav-link"
            %li
              = link_to "Kontakt", "#", id: "nav-link"
          %ul{:class => "nav navbar-right"}
            %li  
              - if user_signed_in?
                = link_to "Witaj " + current_user.name, show_user_path(current_user), id: "nav-linkb"
              - else
                = link_to "Zaloguj się", new_user_session_path, id: "nav-linkb"
    %div{:class => "container"}
    = yield
